
.MuiModal-root{
    overflow-y:scroll;
  }
 
.content-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
}
.content-modal img{
  object-fit: contain;
    border-radius: 10px;

}
@media (max-width:600px){
    .content-modal img{
        object-fit: none;
        width:100%;
        
      }
     
}
.modal_about{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}
.modal_about span{
    font-size:2rem;
}
.tagline{
    margin:10px ;
   text-align: center;
}
.overview{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding:1rem;
    box-shadow: 0 0 15px gray;
    border-radius: 10px;
    margin: 0.5rem;
}
.video{
   
    margin: 1rem 0!important;;
    width:100%;
}