*{
  scroll-behavior: smooth;
}
.app{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(75, 0, 130,0.8);
  color: white;
  padding-top:80px;
  padding-bottom: 4rem;
}
h3{
  text-align: center;
}
/*@media (min-width: 601px) and (max-width: 1000px) {
  .app{
    padding-top:80px;
  }
}*/
@media (max-width: 600px) {
  .app{
    padding-top:50px;
  }
}
@media (min-width: 1500px){
  .app{
    padding-top:100px;
  }
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.content-pagination li button{
  margin: 0 !important;
  color:white;
}