
@font-face { 
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
 }

 body{
  font-family: Montserrat!important;
  margin: 0 ;

}